body {
    font-family: 'Roboto Slab', serif;
    color: #002E6E;
}

h2 {
    color: #002E6E;
    font-weight: 700;
}

h3{
    color: #DA1F3D;
    font-weight: 700;
    font-size: 1.5em;
}

h4 {
    color: #CCCCCC;
    font-size: 1em;
    font-weight: 400;
}

.tradedpickteam{
    font-size: .8em;
    font-weight: 700;
    color: #002E6E;
}

.picknumbers {
    color: #D4D9D5;
    text-align: right;
    vertical-align: bottom;
}

.round {
    color: #00090A;
    text-align: center;
    vertical-align: bottom;
    border-right-color: #D4D9D5;
    border-right-style: solid;
    font-size: 1.5em;
    font-weight: 700;
    
}

.draft {
    text-align: center;
}


thead {
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

.categories {
    font-weight: 700;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    margin-bottom: 1%;
}

.players {
    padding: 1px;
    text-decoration: line-through;
}


.positionbox {
    margin-bottom: 3%;
}


.notkeepable {
    color: #E66A7A;
    text-decoration: line-through;
}

.standings {
    text-align: center;
}

.standings p {
    font-size: 1.5em;
    font-weight: 300;
}

.standings h2 {
    border-bottom: solid;
    border-bottom-color: #D4D9D5;
    padding-bottom: 2%;
    
    
}

.drafttext p {
    font-size: .8em;
    
}

.alert {
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    background-color: crimson;
    color: white;
    font-weight: 300;

}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    height: 150px;
}



ul {
    color: #DA1F3D;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #002E6E;
    height: 5px;
    width: 35px;
    border-radius: 100px;
    vertical-align: middle;
}
